.fil1 {fill:grey}
.fil2 {fill:grey}
.fil3 {fill:grey}
.fil4 {fill:grey}
.fil5 {fill:grey}
.fil6 {fill:grey}
.fil7 {fill:grey}
.fil8 {fill:grey}
.fil9 {fill:grey}
.stroke1 {stroke:grey;fill:grey}
.stroke2 {stroke:grey;fill:grey}
.stroke3 {stroke:grey;fill:grey}
.fil1 {fill:blue}
.fil2 {fill:grey}
.fil3 {fill:grey}
.fil4 {fill:grey}
.fil5 {fill:grey}
.fil6 {fill:grey}
.fil7 {fill:grey}
.fil8 {fill:grey}
.fil9 {fill:grey}
.stroke1 {stroke:grey;fill:grey}
.stroke2 {stroke:grey;fill:grey}
.stroke3 {stroke:grey;fill:grey}
.fil1 {fill:blue}
.fil2 {fill:blue}
.fil3 {fill:grey}
.fil4 {fill:grey}
.fil5 {fill:grey}
.fil6 {fill:grey}
.fil7 {fill:grey}
.fil8 {fill:grey}
.fil9 {fill:grey}
.stroke1 {stroke:grey;fill:grey}
.stroke2 {stroke:grey;fill:grey}
.stroke3 {stroke:grey;fill:grey}
.fil1 {fill:blue}
.fil2 {fill:blue}
.fil3 {fill:blue}
.fil4 {fill:grey}
.fil5 {fill:grey}
.fil6 {fill:grey}
.fil7 {fill:grey}
.fil8 {fill:grey}
.fil9 {fill:grey}
.stroke1 {stroke:grey;fill:grey}
.stroke2 {stroke:grey;fill:grey}
.stroke3 {stroke:grey;fill:grey}
.fil1 {fill:blue}
.fil2 {fill:blue}
.fil3 {fill:blue}
.fil4 {fill:blue}
.fil5 {fill:grey}
.fil6 {fill:grey}
.fil7 {fill:grey}
.fil8 {fill:grey}
.fil9 {fill:grey}
.stroke1 {stroke:blue;fill:blue}
.stroke2 {stroke:grey;fill:grey}
.stroke3 {stroke:grey;fill:grey}
.fil1 {fill:blue}
.fil2 {fill:blue}
.fil3 {fill:blue}
.fil4 {fill:blue}
.fil5 {fill:grey}
.fil6 {fill:grey}
.fil7 {fill:blue}
.fil8 {fill:grey}
.fil9 {fill:blue}
.stroke1 {stroke:grey;fill:grey}
.stroke2 {stroke:grey;fill:grey}
.stroke3 {stroke:grey;fill:grey}
.fil1 {fill:blue}
.fil2 {fill:blue}
.fil3 {fill:blue}
.fil4 {fill:blue}
.fil5 {fill:grey}
.fil6 {fill:grey}
.fil7 {fill:blue}
.fil8 {fill:grey}
.fil9 {fill:blue}
.stroke1 {stroke:blue;fill:blue}
.stroke2 {stroke:grey;fill:grey}
.stroke3 {stroke:grey;fill:grey}
.fil1 {fill:blue}
.fil2 {fill:blue}
.fil3 {fill:blue}
.fil4 {fill:blue}
.fil5 {fill:grey}
.fil6 {fill:grey}
.fil7 {fill:blue}
.fil8 {fill:grey}
.fil9 {fill:blue}
.stroke1 {stroke:grey;fill:grey}
.stroke2 {stroke:grey;fill:grey}
.stroke3 {stroke:grey;fill:grey}
.fil1 {fill:blue}
.fil2 {fill:blue}
.fil3 {fill:blue}
.fil4 {fill:blue}
.fil5 {fill:grey}
.fil6 {fill:grey}
.fil7 {fill:blue}
.fil8 {fill:grey}
.fil9 {fill:blue}
.stroke1 {stroke:blue;fill:blue}
.stroke2 {stroke:grey;fill:grey}
.stroke3 {stroke:grey;fill:grey}
.fil1 {fill:blue}
.fil2 {fill:blue}
.fil3 {fill:blue}
.fil4 {fill:blue}
.fil5 {fill:grey}
.fil6 {fill:grey}
.fil7 {fill:blue}
.fil8 {fill:grey}
.fil9 {fill:blue}
.stroke1 {stroke:blue;fill:blue}
.stroke2 {stroke:grey;fill:grey}
.stroke3 {stroke:grey;fill:grey}
.fil1 {fill:blue}
.fil2 {fill:blue}
.fil3 {fill:blue}
.fil4 {fill:blue}
.fil5 {fill:grey}
.fil6 {fill:grey}
.fil7 {fill:blue}
.fil8 {fill:grey}
.fil9 {fill:blue}
.stroke1 {stroke:grey;fill:grey}
.stroke2 {stroke:blue;fill:blue}
.stroke3 {stroke:grey;fill:grey}
.fil1 {fill:blue}
.fil2 {fill:blue}
.fil3 {fill:blue}
.fil4 {fill:blue}
.fil5 {fill:grey}
.fil6 {fill:grey}
.fil7 {fill:blue}
.fil8 {fill:grey}
.fil9 {fill:blue}
.stroke1 {stroke:grey;fill:grey}
.stroke2 {stroke:grey;fill:grey}
.stroke3 {stroke:grey;fill:grey}
.fil1 {fill:blue}
.fil2 {fill:blue}
.fil3 {fill:blue}
.fil4 {fill:blue}
.fil5 {fill:grey}
.fil6 {fill:grey}
.fil7 {fill:blue}
.fil8 {fill:grey}
.fil9 {fill:blue}
.stroke1 {stroke:grey;fill:grey}
.stroke2 {stroke:grey;fill:grey}
.stroke3 {stroke:grey;fill:grey}
.fil1 {fill:blue}
.fil2 {fill:blue}
.fil3 {fill:blue}
.fil4 {fill:blue}
.fil5 {fill:grey}
.fil6 {fill:grey}
.fil7 {fill:blue}
.fil8 {fill:grey}
.fil9 {fill:blue}
.stroke1 {stroke:blue;fill:blue}
.stroke2 {stroke:grey;fill:grey}
.stroke3 {stroke:grey;fill:grey}
.fil1 {fill:blue}
.fil2 {fill:blue}
.fil3 {fill:blue}
.fil4 {fill:blue}
.fil5 {fill:grey}
.fil6 {fill:grey}
.fil7 {fill:blue}
.fil8 {fill:grey}
.fil9 {fill:blue}
.stroke1 {stroke:grey;fill:grey}
.stroke2 {stroke:grey;fill:grey}
.stroke3 {stroke:grey;fill:grey}
.fil1 {fill:blue}
.fil2 {fill:blue}
.fil3 {fill:blue}
.fil4 {fill:blue}
.fil5 {fill:grey}
.fil6 {fill:grey}
.fil7 {fill:grey}
.fil8 {fill:grey}
.fil9 {fill:blue}
.stroke1 {stroke:blue;fill:blue}
.stroke2 {stroke:grey;fill:grey}
.stroke3 {stroke:grey;fill:grey}
.fil1 {fill:blue}
.fil2 {fill:blue}
.fil3 {fill:blue}
.fil4 {fill:blue}
.fil5 {fill:blue}
.fil6 {fill:grey}
.fil7 {fill:blue}
.fil8 {fill:grey}
.fil9 {fill:blue}
.stroke1 {stroke:grey;fill:grey}
.stroke2 {stroke:blue;fill:blue}
.stroke3 {stroke:grey;fill:grey}
.fil1 {fill:blue}
.fil2 {fill:blue}
.fil3 {fill:blue}
.fil4 {fill:blue}
.fil5 {fill:grey}
.fil6 {fill:blue}
.fil7 {fill:grey}
.fil8 {fill:grey}
.fil9 {fill:blue}
.stroke1 {stroke:grey;fill:grey}
.stroke2 {stroke:grey;fill:grey}
.stroke3 {stroke:grey;fill:grey}
.fil1 {fill:blue}
.fil2 {fill:blue}
.fil3 {fill:blue}
.fil4 {fill:blue}
.fil5 {fill:grey}
.fil6 {fill:grey}
.fil7 {fill:blue}
.fil8 {fill:grey}
.fil9 {fill:blue}
.stroke1 {stroke:grey;fill:grey}
.stroke2 {stroke:grey;fill:grey}
.stroke3 {stroke:grey;fill:grey}
.fil1 {fill:blue}
.fil2 {fill:blue}
.fil3 {fill:blue}
.fil4 {fill:blue}
.fil5 {fill:grey}
.fil6 {fill:grey}
.fil7 {fill:blue}
.fil8 {fill:grey}
.fil9 {fill:blue}
.stroke1 {stroke:grey;fill:grey}
.stroke2 {stroke:grey;fill:grey}
.stroke3 {stroke:grey;fill:grey}
.fil1 {fill:blue}
.fil2 {fill:blue}
.fil3 {fill:blue}
.fil4 {fill:blue}
.fil5 {fill:grey}
.fil6 {fill:grey}
.fil7 {fill:grey}
.fil8 {fill:grey}
.fil9 {fill:blue}
.stroke1 {stroke:grey;fill:grey}
.stroke2 {stroke:grey;fill:grey}
.stroke3 {stroke:grey;fill:grey}
.fil1 {fill:grey}
.fil2 {fill:blue}
.fil3 {fill:blue}
.fil4 {fill:blue}
.fil5 {fill:grey}
.fil6 {fill:grey}
.fil7 {fill:blue}
.fil8 {fill:grey}
.fil9 {fill:blue}
.stroke1 {stroke:grey;fill:grey}
.stroke2 {stroke:grey;fill:grey}
.stroke3 {stroke:grey;fill:grey}
.fil1 {fill:grey}
.fil2 {fill:grey}
.fil3 {fill:blue}
.fil4 {fill:blue}
.fil5 {fill:grey}
.fil6 {fill:grey}
.fil7 {fill:blue}
.fil8 {fill:grey}
.fil9 {fill:blue}
.stroke1 {stroke:grey;fill:grey}
.stroke2 {stroke:grey;fill:grey}
.stroke3 {stroke:grey;fill:grey}
.fil1 {fill:grey}
.fil2 {fill:grey}
.fil3 {fill:grey}
.fil4 {fill:blue}
.fil5 {fill:grey}
.fil6 {fill:grey}
.fil7 {fill:blue}
.fil8 {fill:grey}
.fil9 {fill:blue}
.stroke1 {stroke:grey;fill:grey}
.stroke2 {stroke:grey;fill:grey}
.stroke3 {stroke:grey;fill:grey}
.fil1 {fill:grey}
.fil2 {fill:grey}
.fil3 {fill:grey}
.fil4 {fill:grey}
.fil5 {fill:grey}
.fil6 {fill:grey}
.fil7 {fill:blue}
.fil8 {fill:grey}
.fil9 {fill:blue}
.stroke1 {stroke:grey;fill:grey}
.stroke2 {stroke:grey;fill:grey}
.stroke3 {stroke:grey;fill:grey}
.fil1 {fill:grey}
.fil2 {fill:grey}
.fil3 {fill:grey}
.fil4 {fill:grey}
.fil5 {fill:grey}
.fil6 {fill:grey}
.fil7 {fill:grey}
.fil8 {fill:grey}
.fil9 {fill:grey}
.stroke1 {stroke:grey;fill:grey}
.stroke2 {stroke:grey;fill:grey}
.stroke3 {stroke:grey;fill:grey}
